#Java / Spring Boot
target/
*.class
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

#React / Node
node_modules/
dist/
build/
finance-frontend/.vite/

#Python
venv/
__pycache__/
*.pyc
*.pyo

#Environment / secrets
.env
*.env.local
application-local.properties

#IDE
.idea/
.vscode/
*.iml

#OS
.DS_Store
Thumbs.db